*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  /*height: 100vh;*/
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: grid;
  place-items: center;
  justify-items: center;
}

/*input {
  font-family: inherit; 
  color: inherit;
}*/

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/*Я ВИЖУ PIXEL PERFECT ТАК https://clip2net.com/s/4k4wyqa */
.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  gap: 30px;
  width: 1140px;
  /*height: 534px;*/
  margin-top: 133px;
}

.result {
  width: 711px;
}

.result__video {
  width: 100%;
  max-height: 386px;
  object-fit: cover;
}

.content__details {
  width: 399px;
 /* height: 534px;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}

.content__list {
  height: 298px;
 /* width: 399px;*/
  overflow: auto;
  position: relative;
 /* scrollbar-width: none;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px; 
}
/*
.content__list::-webkit-scrollbar {
  width: 0;
}*/

.content__list-item {
 /* margin-bottom: 30px;*/
  width: 399px;
  width: 100%;
}

.result__video-container {
  max-height: 386px;
  position: relative;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.title {
  max-width: 260px;
  width: 100%;
 /* height: 210px;*/
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  /*padding: 2px;*/
  width: 391px;
 /* margin: 2px;*/
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /*padding: 2px;*/
}

.content__video-card-description {
  line-height: 16.2px;
  max-width: 200px;
  /*padding: 2px;*/
}

.content__video-card-description-container {
  width: 200px;
 /* height: 101px;*/
  overflow: hidden;
  white-space: nowrap;
 /* padding-right: 5px;*/
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: none;
}
/*
.search-form__label {
  display: block;
  width: fit-content;
}*/

.search-form__label {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
  width: fit-content;
}

.search-form__textfield {
  /*width: 225px;
  max-height: 27px;
  height: 100%;*/
  min-inline-size: 225px;
  min-block-size: 27px;
  appearance: none;
  background-color: transparent;
  border: none;
  /* border-left: transparent solid 1px;
  border-right: transparent solid 1px;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;*/
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.search-form__pseudo-checkbox {
  position: relative;
  border: #fff solid 1px;
 /* display: inline-block;*/
  display: block;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
 /* margin: 1px;*/
  width: 15px;
  height: 15px;
  background: #fff;
}

.button {
  border: 1px solid currentColor;
  background-color: transparent;
  color: #fff;
  height: 34px;
  cursor: pointer;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  width: 194px;
  margin-top: auto;
}

.more-button {
  width: 399px;
}
/*
input:focus {
  outline: none;
  border: none;
}

input:focus-visible {
  outline: none;
  border: none;
}*/

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}


/*работает
.search-form__textfield:focus-visible {
  border: #ffffff solid 1px;
  border-top: 3px double #ffffff;
  border-bottom: 3px double #ffffff;
}

.search-form__textfield:active {
  border: #ffffff solid 1px;
}

.search-form__checkbox-list .search-form__label:has(:focus-visible) {
  border: 1px solid #ffffff;
  padding-left: 1px;
  padding-right: 1px;
}*/

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.button:focus-visible {
  border: 3px double #fff;
}

.content__card-link_current {
  background: #545050;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
  text-decoration: none;
}

.content__card-link:focus-visible {
  border: 1px solid white;
}


/*
.content__video-card:focus {
  outline: none;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background: #545050;
  text-decoration: none;
}

.content__video-card:focus-visible {
  border: 1px solid white;
}
*/
